.Item {
  margin: 20px;  
  background-color: #6324d7fb;  
  color: #ccc;  
  border-radius: .5rem;  
  padding: 1rem;  
  text-align: center;  
  box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.1);  
  width: 15.625rem;  
  height: 15.625rem;
  transition: transform 0.3s ease, box-shadow 0.3s ease;  
}

.Item img {
  max-width: 100%;
  height: auto;
  border-radius: .25rem;
  margin-bottom: .75rem; 
}

.Item p {
  margin: .3125rem 0;
  font-size: 1rem;
  font-size: 1.25rem;
}

.Item p:nth-of-type(2) {
  font-weight: bold;
  color: #ccc; 
}

.Item:hover {
  transform: translateY(-0.3125rem); 
  box-shadow: 0 .375rem .75rem rgba(0, 0, 0, 0.15);  
}

.text-item {
  color: #f8f9fa;  
  font-size: 1rem; 
  font-family: 'Arial', sans-serif; 
  text-align: center; 
  padding: 0.5rem 0;
  margin: 0;
  transition: color 0.3s ease; 
}


.text-item:hover {
  color: #6324d7fb;
}
