.item {
  width: 250px;
  margin: 3% 6%;
  padding: 1%;
  border-radius: 5px;
  border: 2px solid #28046cfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  color: #ccc; 
}

.itemlistcontainer {
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.itemlistcontainer .itemlist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.itemlistcontainer .item {
  width: 250px;
  margin: 3% 6%;
  padding: 1%;
  border-radius: 5px;
  border: 2px solid #28046cfb;
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
  height: 100%; 
}

.item .img-item {
  width: 100%;
  border-radius: 1%;
  background-color: rgb(24, 24, 24);
}

.item .text-item {
  padding: 1% 0;
}

.item .button-detail {
  width: 60%;
  display: flex;
  justify-content: center; 
  padding: 10px;
  background-color: rgb(27, 27, 27);
  border-radius: 5px;
  border: 2px solid #6324d7fb;
  margin: 0 auto; 
}

.item .button-detail:hover {
  border: 2px solid #4815a7fb;
}
